---
title: Configuring Multi-Foundation Support in Apps Manager
owner:
---

This topic describes how to configure multi-foundation support in Apps Manager.

<p class="note warning"><strong>Warning</strong>: Multi-foundation support in Apps Manager is in beta. You can use this feature to connect foundations that use the same major and minor version of <%= vars.app_runtime_first %>. If you connect foundations that use different <%= vars.app_runtime_abbr %> versions, Apps Manager functionality might not work.</p>


## <a id="overview"></a> Overview

Configuring multi-foundation support in Apps Manager allows you to search, view, and manage orgs, spaces, apps, and service instances across multiple foundations from a single interface.


## <a id="configure"></a> Configure Multi-Foundation Support

This section describes the procedures for configuring multi-foundation support in Apps Manager.

### <a id="pas"></a> Configure <%= vars.app_runtime_abbr %>

This section describes how to configure <%= vars.app_runtime_first %> on a foundation to enable multi-foundation support in Apps Manager.

To configure multi-foundation support in Apps Manager:

1. In the <%= vars.app_runtime_abbr %> tile of one of your foundations, select **Apps Manager**.

1. For **Multi-foundation configuration (beta)**, enter a JSON object for each additional foundation that you want to manage. Use the following format for the JSON object:

	```
	{
	  "FOUNDATION-NAME": {
	    "ccUrl": "https://api.FOUNDATION-SYSTEM-DOMAIN.com",
	    "systemDomain": "FOUNDATION-SYSTEM-DOMAIN.com",
	    "usageServiceUrl": "https://app-usage.FOUNDATION-SYSTEM-DOMAIN.com",
	    "invitationsServiceUrl": "https://p-invitations.FOUNDATION-SYSTEM-DOMAIN.com",
	    "logoutUrl": "https://login.FOUNDATION-SYSTEM-DOMAIN.com/logout.do",
	    "metricsUrl": "https://metrics.FOUNDATION-SYSTEM-DOMAIN.com",
	    "uaaUrl": "https://login.FOUNDATION-SYSTEM-DOMAIN.com"
	  }
    }
	```
	Where:
	* `FOUNDATION-NAME` is a name for the foundation.
	* `FOUNDATION-SYSTEM-DOMAIN` is the system domain of the foundation. The system domain is listed in the **Domains** pane of the <%= vars.app_runtime_abbr %> tile.
	* `metricsUrl` is an optional field. If App Metrics is installed on the foundation, provide the App Metrics URL.

1. For **Redirect URIs**, enter a comma-separated list of the URI for each additional foundation on which you enabled multi-foundation support. Use the following format for each URI:

    ```
    https://apps.FOUNDATION-SYSTEM-DOMAIN.com/**
    ```
    Where `FOUNDATION-SYSTEM-DOMAIN` is the system domain of the foundation on which you enabled multi-foundation support.

### <a id="certificates"></a> Add Trusted Certificate Authorities

Apps Manager must be able to validate the certificate authorities (CAs) used by all foundations.

If any foundation uses a certificate for TLS termination that is not signed by a globally-trusted CA, add the CA that signed the TLS certificate as a trusted CA on the foundation on which you enabled multi-foundation support.

For more information, see 

### <a id="saml"></a> (Optional) Configure the SAML Identity Provider

<%= vars.company_name %> recommends that all foundations use the same external SAML identity provider. This allows Apps Manager to automatically authenticate with the identity provider.

To configure all foundations to use the same SAML identity provider:

1. In the <%= vars.app_runtime_abbr %> tile, select **Authentication and Enterprise SSO**.

1. Verify that the foundation uses the correct provider for **Provider name**.

1. Repeat the above steps for each foundation in your deployment.

For more information on UAA and identity providers, see [Identity Providers in UAA](../uaa/identity-providers.html).

For more information on how to set up identity providers in UAA, see [Adding Existing SAML or LDAP Users to an <%= vars.platform_name %> Deployment](../operating/external-user-management.html).
