---
title: Using Docker Registries
owner: Ops Manager
---

This topic describes how to configure <%= vars.platform_name %> to access Docker registries such as [Docker Hub](http://hub.docker.com), by using either a root certificate authority (CA) certificate or by adding its IP address to an allowlist. It also explains how to configure <%= vars.platform_name %> to access Docker registries through a proxy.

Docker registries store Docker container images. <%= vars.platform_name %> uses these images to create the Docker containers that it runs apps in.


## <a id='prerequisite'></a> Prerequisite: Enable Docker Support

<%= vars.platform_name %> can only access Docker registries if an operator has enabled Docker support with the `cf enable-feature-flag diego_docker` command, as described in the [Enable Docker](../adminguide/docker.html#enable) section of the _Using Docker in <%= vars.app_runtime_abbr %>_ topic.

With Docker enabled, developers can push an app with a Docker image using the Cloud Foundry Command Line Interface (cf CLI). For more information, see [Deploying an App with Docker](../devguide/deploy-apps/push-docker.html).


## <a id='ops-man'></a> Use a CA Certificate

If you provide your root CA certificate in the <%= vars.ops_manager %> configuration:

1. In the <%= vars.ops_manager %> Installation Dashboard, click the **BOSH Director** tile.

1. Click **Security**.

    <%= image_tag("images/docker-registry-ops-man.png", :alt => "Security pane shows 'Trusted Certificates' textarea field and 'Generate VM passwords' radio button field with a save button.") %>

1. In the **Trusted Certificates** field, paste one or more root CA certificates. The Docker registry does not use the CA certificate itself but uses a certificate that is signed by the CA certificate.

1. Click **Save**.

1. Choose one of the following:


After configuration, BOSH propagates your CA certificate to all application containers in your deployment. You can then push and pull images from your Docker registries.


## <a id='ert'></a> Use an IP Address Allow List

If you choose not to provide a CA certificate, you must provide the IP address of your Docker registry.

<p class="note"><strong>Note:</strong> Using an allow list skips SSL validation. If you want to enforce SSL validation, enter the IP address of the Docker registry in the <strong>No proxy</strong> field described in <a href='#proxy'>Configure <%= vars.platform_name %> to Access Proxies for Docker Registries</a>.</p>

To configure an IP address allow list with the IP address of your Docker registry:

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard.

1. Click the <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) tile.

1. Select **App Containers**.

1. Select **Allow SSH access to app containers** to enable app containers to accept SSH connections. If you use a load balancer instead of HAProxy, you must open port 2222 on your load balancer to enable SSH traffic. To open an SSH connection to an app, a user must have Space Developer privileges for the space where the app is deployed. Operators can grant those privileges in Apps Manager or using the cf CLI.

1. For **Private Docker insecure registry allow list**, provide the hostname or IP address and port that point to your private Docker registry. For example, enter `198.51.100.1:80` or `mydockerregistry.com:80`. Enter multiple entries in a comma-delimited sequence. SSL validation is ignored for private Docker image registries secured with self-signed certificates at these locations.

1. Under **Docker images disk cleanup scheduling on Diego Cell VMs**, choose one of the options listed below. For more information about these options, see [Configuring Docker Images Disk-Cleanup Scheduling](./config-cell-cleanup.html).
	* **Never clean up Diego Cell disk space**
	* **Routinely clean up Diego Cell disk space**
	* **Clean up disk space once threshold is reached**. If you choose this option, enter the amount of disk space limit the Diego Cell must reach before disk cleanup initiates under **Reserved disk space for other jobs**.
<br><br>

1. Click **Save**.

1. Choose one of the following:
	- If you are configuring <%= vars.app_runtime_abbr %> for the first time, return to your specific IaaS installation instructions 
	- If you are modifying an existing <%= vars.app_runtime_abbr %> installation, return to the <%= vars.ops_manager %> Installation Dashboard, click **Review Pending Changes**, and click **Apply Changes**.

After configuration, <%= vars.app_runtime_abbr %> allows Docker images to pass through the specified IP address without checking certificates.


## <a id='proxy'></a> Configure <%= vars.platform_name %> to Access Proxies for Docker Registries

If you have proxies already set up for Docker registries, you should configure <%= vars.platform_name %> to access your Docker registries through a proxy.

To configure <%= vars.platform_name %> to access a Docker registry through a proxy:

1. On the Installation Dashboard, navigate to USERNAME > **Settings** > **Proxy Settings**.

1. On the **Update Proxy Settings** pane, complete one of the following fields:
    + **HTTP proxy**: If you have an HTTP proxy server for your Docker registry, enter its IP address.
    + **HTTPS proxy**: If you have an HTTPS proxy server for your Docker registry, enter its IP address.
    + **No proxy**: If you do not use a proxy server, enter the IP address for the Docker registry. This field may already contain proxy settings for the BOSH Director.

    Enter multiple IP addresses as a comma-separated list.


1. Click **Update**.

1. Return to the <%= vars.ops_manager %> dashboard, click **Review Pending Changes**, and click **Apply Changes**.
