---
breadcrumb: <%= vars.platform_name %> Documentation
title: TAS for VMs
---


This documentation provides IaaS-specific instructions for installing and configuring <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>).


## <a id='overview'></a> Overview

<%= vars.app_runtime_abbr %> is a runtime environment that lets developers develop and manage cloud-native apps and software services. Installed with <%= vars.platform_name %>, it runs on AWS, Azure, GCP, OpenStack, and vSphere infrastructures.

To install <%= vars.app_runtime_abbr %>, you must complete the following procedures:

* [Deploy BOSH and Ops Manager](https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/customizing/deploy-bosh-om.html)
* [Configuring <%= vars.app_runtime_abbr %>](./configure-pas.html)
