---
title: Checking Ops Manager After a Power Failure on vSphere
owner:
---

<% current_page.data.title = "Checking " + vars.platform_name + " State after a Power Failure on vSphere" %>

This topic describes how to check the state of <%= vars.platform_name %> after a power failure in an
on-premises vSphere installation.

If you have a procedure at your company for handling power failure scenarios and want to add steps
for checking the state of <%= vars.platform_name %>, use this procedure as a template.

## <a id="overview"></a> Overview

This section describes the process used by <%= vars.platform_name %> to recover from power failures
and exceptions to that process.

### <a id="recovery-process"></a> Automatic Recovery Process

When power returns after a failure, vSphere and <%= vars.platform_name %> automatically do the
following to recover your environment:

1. vSphere High Availability (HA) recovers VMs.

1. BOSH ensures that the processes on those VMs are healthy, with the exception of the
<%= vars.platform_name %> VM and the BOSH VM itself. <%= vars.platform_name %> uses BOSH to deploy
and manage its VMs. For more information, see the [BOSH documentation](https://bosh.io/docs).

1. The Diego runtime of <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) recovers apps
that were running on the VMs. For more information, see [Diego Components and Architecture
](../concepts/diego/diego-architecture.html).

### <a id="manual-recovery-scenarios"></a> Scenarios that Require Manual Intervention

Two scenarios exist that can require manual intervention when recovering your environment after a
power failure:

* If <%= vars.app_runtime_abbr %> is configured to use a MySQL cluster instead of a single node,
the cluster does not recover automatically.

* If you run <%= vars.platform_name %> v2.5.3 or earlier and encounter the following known issue in
the BOSH Director:
[Monit inaccurately reports the health of UAA](https://docs.pivotal.io/pivotalcf/2-5/pcf-release-notes/opsmanager-rn.html#monit).

The procedure in this topic includes more detail about addressing these scenarios.

## <a id="checklist"></a> Checklist

Use the checklist in this section to ensure that <%= vars.platform_name %> is in a good state after
a power failure.

This checklist assumes that your <%= vars.platform_name %> on vSphere installation is configured
for vSphere HA and that you have the BOSH Resurrector enabled.

<table>
  <tr>
    <th>Phase</th>
    <th>Component</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>1</td>
    <td>vSphere</td>
    <td><a href="#check-vSphere">Ensure vSphere is Running</a></td>
  </tr>
  <tr>
    <td>2</td>
    <td><%= vars.platform_name %></td>
    <td><a href="#check-ops-manager">Ensure <%= vars.platform_name %> is Running</a></td>
  </tr>
  <tr>
    <td>3</td>
    <td>BOSH Director</td>
    <td><a href="#check-bosh">Ensure BOSH Director is Running</a></td>
  </tr>
  <tr>
    <td>4</td>
    <td>BOSH Director</td>
    <td><a href="#resurrector">Ensure BOSH Resurrector Finished Recovering</a></td>
  </tr>
  <tr>
    <td>5</td>
    <td><%= vars.app_runtime_abbr %></td>
    <td><a href="#check-pas">Ensure VMs for <%= vars.app_runtime_abbr %> are Running</a>. This may
        include manually recovering the MySQL cluster.</td>
  </tr>
  <tr>
    <td>6</td>
    <td><%= vars.app_runtime_abbr %></td>
    <td><a href="#check-apps">Ensure Apps Hosted on <%= vars.app_runtime_abbr %> are
        Running</a></td>
  </tr>
  <tr>
    <td>7</td>
    <td><%= vars.platform_name %> Healthwatch</td>
    <td><a href="#check-hw">Check the Healthwatch Dashboard</a></td>
  </tr>
</table>

## <a id="check-vSphere"></a> Phase 1: Ensure vSphere is Running

Ensure that vSphere is running and has fully recovered from the power failure. Check your internal
vSphere monitoring dashboard.

## <a id="check-ops-manager"></a> Phase 2: Ensure <%= vars.platform_name %> is Running

To ensure that <%= vars.platform_name %> is running, do the following:

1. Open vCenter and navigate to the resource pool that hosts your <%= vars.platform_name %>
deployment.

1. Select the **Related Objects** > **Virtual Machines**.

1. Locate the VM with the name `OpsMan-VERSION`, for example `OpsMan-2.6`.

1. Review the **State** and **Status** columns for the <%= vars.platform_name %> VM. If
<%= vars.platform_name %> is running, the columns show **Powered On** and **Normal**. If the
columns do not show **Powered On** and **Normal**, restart the VM.

## <a id="check-bosh"></a> Phase 3: Ensure BOSH Director is Running

To ensure that BOSH Director is running, do the following:

1. In a browser, navigate to the <%= vars.platform_name %> UI and select the
**BOSH Director for vSphere** tile.

    <p class="note"><strong>Note</strong>: If you do not know the URL of the
    <%= vars.platform_name %> VM, you can use the IP address that you obtain from vCenter.</p>

1. Select **Status**.

1. In the **BOSH Director** row, locate and record the **CID**. The CID is the cloud ID and
corresponds to the VM name in vSphere.

1. Navigate to the vCenter resource pool or cluster that hosts your <%= vars.platform_name %>
deployment.

1. Select **Related Objects** > **Virtual Machines**.

1. Locate the VM with the name that corresponds to the **CID** value that you copied.

1. Review the **State** and **Status** columns for the VM. If the **State** column does not show
**Powered On**, restart the VM.

1. If the **State** column shows that the VM is **Powered On** but the **Status** column does not
does not show **Normal**, it may be due the following known issue: [Monit inaccurately reports the
health of UAA](https://docs.pivotal.io/pivotalcf/2-5/pcf-release-notes/opsmanager-rn.html#monit).
To resolve this issue, do the following:

    1. SSH into the BOSH Director VM using the instructions in [SSH into the BOSH Director VM](https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/customizing/trouble-advanced.html#bosh-director-ssh).

    1. Run the following command to see that all processes are running:
      ```
      monit summary
      ```

    1. If the `uaa` process is not running, run the following command:
      ```
      monit restart UAA
      ```

## <a id="resurrector"></a> Phase 4: Ensure BOSH Resurrector Finished Recovering

If enabled, the BOSH Resurrector re-creates any VMs in a problematic state after being recovered by
vSphere HA.

To ensure BOSH Resurrector finished recovering, do the following:

1. Log in to the <%= vars.platform_name %> VM with SSH using the instructions in
[Log in to the <%= vars.platform_name %> VM with SSH](https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/customizing/trouble-advanced.html#ssh).

1. Authenticate with the BOSH Director VM using the instructions in [Authenticate with the BOSH Director VM](https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/customizing/trouble-advanced.html#log-in).

1. Run the following command to see if there is any currently running or queued Resurrector
activity:

    ```
    bosh tasks --all -d ''
    ```
    Review the task description for `scan` and `fix`. If no task are running, the BOSH Director has
    probably finished recovering. Run `bosh tasks --recent --all -d ''` to view finished tasks.

## <a id="check-pas"></a> Phase 5: Ensure the VMs for <%= vars.app_runtime_abbr %> are Running

<p class="note"><strong>Note</strong>: You can also apply the steps in this section to any
<%= vars.platform_name %> services. To further ensure the health of <%= vars.platform_name %>
services, use the <%= vars.platform_name %> Healthwatch dashboard and the documentation for each
service.</p>

To ensure that the VMs for <%= vars.app_runtime_abbr %> are running, do the following:

1. Run the following command to confirm that VMs are running:

    ```
    bosh vms
    ```
    BOSH lists VMs by deployment. The deployment with the `cf-` prefix is the
    <%= vars.app_runtime_abbr %> deployment.

1. If the `mysql` VM is not running, it is likely because it is a cluster and not a single node.
Clusters require manual intervention after an outage. For instructions to confirm and recover the
cluster, see [Manually Recover MySQL (Clusters Only)](#check-mysql).

1. If any other VMs are not running, run the following command:

    ```
    bosh cck -d DEPLOYMENT
    ```
    This command scans for problems and provides options for recovering VMs. For more information,
    see [IaaS Reconciliation](https://bosh.io/docs/cck/) in the BOSH documentation.

1. If you cannot get all VMs running, contact [Support](https://support.pivotal.io) for
assistance. Provide the following information:
  * You have started this checklist to recover from a power failure on vSphere
  * A list of failing VMs
  * Your <%= vars.platform_name %> version

### <a id="check-mysql"></a> Manually Recover MySQL (Clusters Only)

To manually recover MySQL, do the following:

1. In a browser, navigate to the <%= vars.platform_name %> UI and select the
**<%= vars.app_runtime_full %>** tile.

1. Select the **Resource Config** pane.

1. Review the **INSTANCES** column of the **MySQL Server** job. If the number of instances is
greater than `1`, manually recover MySQL by following
[Recovering From MySQL Cluster Downtime](../mysql/bootstrap-mysql.html).

## <a id="check-apps"></a> Phase 7: Ensure Apps Hosted on <%= vars.app_runtime_abbr %> are Running

To ensure apps hosted on <%= vars.app_runtime_abbr %> are running, do the following:

1. Check the status of an app that you run on <%= vars.platform_name %>. Run any health checks that
the app has or visit the URL of the app to verify that it is working.

1. Push an app to <%= vars.platform_name %>.

## <a id="check-hw"></a> Phase 8: Check the Healthwatch Dashboard

You can use <%= vars.platform_name %> Healthwatch to further assess the state of
<%= vars.platform_name %>. For more information, see
[Using <%= vars.platform_name %> Healthwatch](https://docs.pivotal.io/pcf-healthwatch/using.html).
