---
title: Scaling TAS for VMs
owner: RelEng
---

<% current_page.data.title = "Scaling " + vars.app_runtime_abbr %>

This topic describes how to scale <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) for different deployment scenarios.

For information about capacity scaling indicators for <%= vars.app_runtime_abbr %>, see [Key Capacity Scaling Indicators](https://docs.pivotal.io/platform/monitoring/key-cap-scaling.html).

<%= vars.app_runtime_abbr %> defaults to a highly available resource configuration.
For more information, see [High Availability in <%= vars.app_runtime_abbr %>](./../concepts/high-availability.html).


## <a id='overview'></a> Overview

To increase the capacity and availability of the <%= vars.app_runtime_abbr %> platform, and to decrease the chances of downtime, you can scale a deployment up using the instructions below.


## <a id='scalingtable'></a> Scaling Recommendations

<%= partial vars.scale_table %>


## <a id='scaleup'></a> Scaling Up <%= vars.app_runtime_abbr %>

You can determine when to scale up <%= vars.app_runtime_abbr %> components by reviewing the capacity scaling indicators. For more information, see [Key Capacity Scaling Indicators](https://docs.pivotal.io/platform/monitoring/key-cap-scaling.html).

To scale up <%= vars.app_runtime_abbr %> instances:

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard.

1. Click the <%= vars.app_runtime_abbr %> tile.

1. Select **Resource Config**.
<%= image_tag("images/scaling-ert.png", :alt => "'Resource Config pane lists 22 jobs. Each job has a dropdown for 'Instances,' 'Persistent Disk Type,' and 'VM Type.'") %>

1. To scale your deployment horizontally, increase the number of **Instances** of a job. For guidance on the number of job instances required to ensure high availability, see [Scaling Recommendations](#scalingtable).

1. To scale your deployment vertically, adjust the **Persistent Disk Type** and **VM Type** of a job to allocate more disk space and memory. If you choose **Automatic** from the dropdown, <%= vars.app_runtime_abbr %> uses the recommended amount of resources for the job.

1. Click **Save**.

1. Return to the <%= vars.ops_manager %> Installation Dashboard, click **Review Pending Changes**, and click **Apply Changes**.


## <a id='scaledown'></a> Scaling Down <%= vars.app_runtime_abbr %>

If you are deploying a <%= vars.app_runtime_abbr %> configuration that does not need to be highly available, <%= vars.company_name %> recommends scaling down job instances to the minimum number required for a functional deployment.

To scale down your deployment:

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard.

1. Click the <%= vars.app_runtime_abbr %> tile.

1. Select **Resource Config**.
<%= image_tag("images/scaling-ert.png", :alt => "'Resource Config pane lists 22 jobs. Each job has a dropdown for 'Instances,' 'Persistent Disk Type,' and 'VM Type.'") %>

1. In the **Resource Config** screen, decrease the number of **Instances** for each job. Choose the suggested values outlined in [Scaling Recommendations](#scalingtable) or in the [Scaling Recommendations for Specific Deployment Configurations](#deployscenarios).

1. Click **Save**.

1. Return to the <%= vars.ops_manager %> Installation Dashboard, click **Review Pending Changes**, and click **Apply Changes**.

### <a id="diskscale"></a> Scaling Down Jobs with Persistent Disk

If you scale down or delete a job that uses persistent disk, <%= vars.app_runtime_abbr %> marks the disk as orphaned. Orphaned disks are not attached to any job, and <%= vars.app_runtime_abbr %> deletes them after five days.

Use the BOSH CLI to list and recover orphaned disks. Follow the instructions in [Advanced Troubleshooting with the BOSH CLI](https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/customizing/trouble-advanced.html) to log in to the BOSH Director, and then follow the procedures in [Orphaned Disks](http://bosh.io/docs/persistent-disks.html#orphaned-disks) in the BOSH documentation.


## <a id="deployscenarios"></a> Scaling Recommendations for Specific Deployment Configurations

If you use one of the following configurations, choose the values in the corresponding table to scale instances for your particular deployment:

* [Deployments Using External Databases](#external-databases)
* [Deployments Using Internal MySQL](#internal-mysql)
* [Deployments Using an External Blobstore](#external-blobstore)
* [Deployments Using External Load Balancers](#external-lb)

### <a id='external-databases'></a> Deployments Using External Databases

If you use an external database, you can scale down the instance counts for internal MySQL jobs.

Select the following values in the **Resource Config** pane:

| Job | Instance Count |
| --- | -------------- |
| MySQL Server | 0 |
| MySQL Proxy | 0 |

### <a id='internal-mysql'></a> Deployments Using Internal MySQL

If you use the internal MySQL database on a clean install, or on an upgrade from a configuration that previously used internal MySQL databases, you do not need to change the default values shown in the table below.

To change back to this configuration, choose the values shown below in the **Resource Config** pane.

<p class="note"><strong>Note:</strong> Changing back to this configuration deletes any data written to your other database option.</p>

| Job | Instance Count |
| --- | -------------- |
| MySQL Server | 3 |
| MySQL Proxy | 2 |

<p class="note"><strong>Note:</strong> Apps that do not use MySQL for VMware Tanzu are not affected by the scaling process when you redeploy <%= vars.app_runtime_abbr %>. In addition, redeploying <%= vars.app_runtime_abbr %> with the MySQL cluster means that the <%= vars.app_runtime_abbr %> API is unavailable for a brief period of time. For example, you are not able to push apps or query their state during this time.</p>

For more information, see the [MySQL for VMware Tanzu](https://docs.pivotal.io/p-mysql/index.html) documentation.

### <a id='external-blobstore'></a> Deployments Using an External Blobstore

If you use an external blobstore, choose the following value in the **Resource Config** pane:

| Job | Instance Count |
| --- | -------------- |
| File Storage | 0 |

### <a id='external-lb'></a> Deployments Using External Load Balancers

If you use an external load balancer, choose the following values in the **Resource Config** pane:

| Job | Instance Count |
| --- | -------------- |
| HAProxy | 0 |
| Router | &ge; 1 |
| Diego Brain |&ge; 1 |

For more information about configuring load balancers in the **Resource Config** pane of the <%= vars.app_runtime_abbr %> tile, see [Configuring Load Balancing for <%= vars.app_runtime_abbr %>](../customizing/configure-lb.html).
