---
title: Deploying TAS for VMs to VMC
owner: dap-tas-vmc-vcf-anycloud
---

This topic describes how to install <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) to VMware Cloud (VMC) on Amazon Web Services (AWS).

## <a id='introduction'></a> Overview

VMC provides Software Defined Data Centers (SDDCs) that run on AWS with a high-level management console to configure networking rules.
This topic describes the procedures for configuring and installing <%=
vars.app_runtime_abbr %> on VMC using public IP addresses for ingress.

To install and configure <%= vars.app_runtime_abbr %> on VMC:

  1. [Install <%= vars.ops_manager %>](#om-setup)

  1. [Configure BOSH Director](#bosh-setup)

  1. [Install and Configure <%= vars.app_runtime_abbr %>](#tas-tile)

## <a id='requirements'></a> Prerequisites

Before you install and configure <%= vars.app_runtime_abbr %> on VMC:

* Create a VMC account. See [VMware Cloud](https://vmc.vmware.com).
* Deploy an SDDC. See [Deploy an SDDC from the VMC Console](https://docs.vmware.com/en/VMware-Cloud-on-AWS/services/com.vmware.vmc-aws.getting-started/GUID-EF198D55-03E3-44D1-AC48-6E2ABA31FF02.html).
* Enable browser access to vCenter from your SDDC. See [Enable Browser Access to vCenter](#vcenter-access).
* Download <%= vars.ops_manager %> for vSphere from [<%= vars.product_network %>](https://network.pivotal.io/products/ops-manager/).
* Download <%= vars.app_runtime_abbr %> from [<%= vars.product_network %>](https://network.pivotal.io/products/elastic-runtime).
* Install the govc CLI to your local workstation or jump host. See [govmomi](https://github.com/vmware/govmomi/blob/master/govc/README.md) on GitHub.

(Optional) If you plan to connect to the VMC SDDC using a VPN or Direct Connect Virtual Interfaces (VIFs):

* To use a VPN to connect your network to the VMC SDDC, configure the VPN connection before you install <%= vars.app_runtime_abbr %>.
See [Configure a VPN Connection Between Your SDDC and On-Premises Data Center](https://docs.vmware.com/en/VMware-Cloud-on-AWS/services/com.vmware.vmc-aws.networking-security/GUID-92F6C09E-8E74-430E-8F79-C2E5B2150ADA.html).
* To use VIFs to connect your network to the VMC SDDC, configure the VIFs before you install <%= vars.app_runtime_abbr %>.
See [Configure AWS Direct Connect Between Your SDDC and On-Premises Data Center](https://docs.vmware.com/en/VMware-Cloud-on-AWS/services/com.vmware.vmc-aws.networking-security/GUID-417EE2F1-0EA5-4808-BDB3-6FF622EECB95.html).

### <a id='vcenter-access'></a> Enable Browser Access to vCenter

By default, ingress to vCenter is not enabled. If you are not using a VPN or other network,
you must create a firewall rule in SDDC to allow vCenter access from your workstation's public IP address.

To enable browser access to vCenter:

1. Navigate to the [VMC console](https://vmc.vmware.com/console/sddcs).
1. Select **SDDCs**.
1. Click **View Details** on your datacenter tile.
1. Select **Networking & Security**, and then select **Security**.
1. Click **Gateway Firewall**.
1. Click **Management Gateway**.
1. Click **+ Add Rule**.
  * **Name**: Enter `vCenter Browser Inbound Rule`.
  * **Sources**:
        1. Click **User Defined Groups**.
        1. Click **Add Group**.
          - For **Group name**, enter `public ip address`.
          - Click **Set Members**.
          - Select **IP Addresses**.
          - Enter your public IP address. For example, `66.170.99.1`.
          <p class="note"><strong>Note</strong>: You can locate your public IP address by navigating to https://ifconfig.me/.</p>
          - Press **Enter**.
          - Click **Apply**.
        1. Click **Save**.
  * **Destinations**: Select **vCenter** and then click **Apply**.
  * **Services**: Enter `HTTPS, ICMP, SSO`.
1. Click **Publish**.

### <a id='vcenter-creds'></a> Record vCenter Credentials

To gather login credentials for the vCenter instance in your SDDC:

1. Navigate to the [VMC console](https://vmc.vmware.com/console/sddcs).
1. Select **SDDCs**.
1. Click **Open vCenter** on your datacenter tile.
1. A dialog box appears with the text:
   **Before you can log into vCenter, you must open network access to vCenter through the management gateway.**
   Choose an option for opening network access.
1. Click **Show Credentials**.
1. Record the credentials.

After enabling browser access and recording your vCenter credentials, you can access and authenticate with your cluster's vCenter server.

## <a id='om-setup'></a> Install <%= vars.ops_manager %>

To install <%= vars.ops_manager %> on VMC:

1. Find the VMC pre-installed network to use for the BOSH infrastructure network:
  1. Navigate to the [VMC console](https://vmc.vmware.com/console/sddcs).
  1. Select **SDDCs**.
  1. Click **View Details** on your datacenter tile.
  1. Select **Networking & Security**.
  1. Select **Network**, and then select **Segments**.
  1. Record the segment name for **sddc-cgw-nework-1**.
  1. Record the subnet **192.168.1.1/24**. SDDC combines the gateway IP address and CIDR into a single value.

1. If nothing has changed, create a file named `options.json` with the following contents:

    ```
    {
      "NetworkMapping": [
        {
          "Name": "Network 1",
          "Network": "sddc-cgw-network-1"
        }
      ],
      "PropertyMapping": [
        {
          "Key": "ip0",
          "Value": "192.168.1.10"
        },
        {
          "Key": "netmask0",
          "Value": "255.255.255.0"
        },
        {
          "Key": "gateway",
          "Value": "192.168.1.1"
        },
        {
          "Key": "DNS",
          "Value": "8.8.8.8"
        },
        {
          "Key": "ntp_servers",
          "Value": "time.google.com"
        }
      ]
    }
    ```

1. Replace the following example text in the code below, then run the commands to upload the <%= vars.ops_manager %> file to VMC:
  - `EXAMPLE-PASSWORD`: the vCenter password you recorded in [Record vCenter Credentials](#vcenter-creds).
  - `<%= vars.example_domain %>`: your vCenter URL.
  - `PATH-TO-OPS-MANAGER`: the path to your <%= vars.ops_manager %> OVA file.

    ```
    export GOVC_DATACENTER=SDDC-Datacenter
    export GOVC_DATASTORE=WorkloadDatastore
    export GOVC_RESOURCE_POOL=Compute-ResourcePool

    export GOVC_URL='cloudadmin@vmc.local':'EXAMPLE-PASSWORD©'@<%= vars.example_domain %>

    govc library.create tas
    govc library.import tas PATH-TO-OPS-MANAGER
    govc library.deploy -options options.json /tas/ops-manager-vsphere-2.##.#-build.### ops-manager
    govc pool.create /SDDC-Datacenter/host/Cluster-1/Resources/az{1,2,3}
    ```
    <p class="note"><strong>Note:</strong> <%= vars.recommended_by %> recommends using <code>govc library.*</code> commands
    instead of <code>govc import.ova</code>.<br><br>
    The <code>govc import.ova</code> commands depend on access to the ESXi
    hosts, which is not configured by default in VMC.
    Using these commands can cause errors like the following:
    <code>govc: Post
    "https://10.2.32.4/nfc/5224a51f-114e-4627-8ca8-547c2e2e9488/disk-0.vmdk": dial
    tcp 10.2.32.4:443: i/o timeout</code>
    </p>

1. Log in to vCenter:
    1. Navigate to the [VMC console](https://vmc.vmware.com/console/sddcs).
    1. Select **SDDCs**.
    1. Click **Open vCenter** on your datacenter tile.
    1. Select **Show Credentials**, and then click **Open vCenter**.
    1. Find the <%= vars.ops_manager %> VM.
    1. Open the **Hosts & Clusters** view.
    1. Open the `Compute-ResourcePool` and select the `ops-manager` VM.
    1. Click ▶ to power on the <%= vars.ops_manager %> VM.

1. Create public IP addresses for <%= vars.ops_manager %> and HAProxy:
    1. Navigate to the [VMC console](https://vmc.vmware.com/console/sddcs).
    1. Select **SDDCs**.
    1. Click **View Details** on your datacenter tile.
    1. Select **Networking & Security**.
    1. Select **Public IPs**, and then select **Request New IP**.
      1. For **Notes**, enter `ops-manager` and click **Save**.
      1. Record the IP address. For example, `54.190.190.190`.
    1. Click **Request New IP**.
      1. For **Notes**, enter `HAProxy` and click **Save**.
      1. Record the IP address. For example, `54.180.180.180`.

1. Create a second network segment to use as the BOSH deployment network:
    1. Navigate to the [VMC console](https://vmc.vmware.com/console/sddcs).
    1. Select **SDDCs**.
    1. Click **View Details** on your datacenter tile.
    1. Select **Networking & Security**.
    1. Select **Network**, and then select **Segments**.
    1. Click **Add Segment**:
        1. For **Segment Name**, enter `bosh-network`.
        1. For **Type**, enter `routed`.
        1. For **Subnets**, enter a subnet. For example, `192.168.2.1/24`.

1. Assign public IP addresses to <%= vars.ops_manager %> and HAProxy:
    1. Navigate to the [VMC console](https://vmc.vmware.com/console/sddcs).
    1. Select **SDDCs**.
    1. Click **View Details** on your datacenter tile.
    1. Select **Networking & Security**.
    1. Select **NAT**, and then click **Add NAT Rule**.
        1. For **Rule Name**, enter `ops-manager`.
        1. For **Public IP**, enter the IP address you created for <%= vars.ops_manager %> in a previous step. For example, `54.190.190.190`.
        1. For **Internal IP**, enter `192.168.1.10`.
        1. Click **Save**.
    1. Select **Add NAT Rule**.
        1. For **Rule Name**, enter `HAProxy`.
        1. For **Public IP**, enter the IP address you created for HAProxy in a previous step. For example, `54.180.180.180`.
        1. For **Internal IP**, enter `192.168.2.2`.
        1. Click **Save**.

1. Add firewall rules that allow ingress to <%= vars.ops_manager %> and HAProxy:
    1. Navigate to the [VMC console](https://vmc.vmware.com/console/sddcs).
    1. Select **SDDCs**.
    1. Click **View Details** on your datacenter tile.
    1. Select **Networking & Security**, and then select **Security**.
    1. Select **Gateway Firewall**, and then **Compute Gateway**.
    1. Click **Add Rule**.
    1. Select the newly-created rule:
        1. For **Rule Name**, enter `opsman-ingress`.
        1. For **Sources**, select **Any**.
        1. Configure **Destinations**:
          - Click **Add Group**.
              - For **Group name**, enter `OM`.
              - Click **Set Members**.
              - Select **IP Addresses**.
              - Enter the <%= vars.ops_manager %> internal IP address, `192.168.1.10`.
              - Press **Enter**.
              - Click **Apply**.
          - Click **Save**.
          - Click **Apply**.
          - Click **Publish**.
    1. Click **Add Rule**.
    1. Select the newly-created rule:
        1. For **Rule Name**, enter `HAProxy-ingress`.
        1. For **Sources**, select **Any**.
        1. Configure **Destinations**:
          - Click **Add Group**.
              - For **Group name**, enter `HAProxy`.
              - Click **Set Members**.
              - Select **IP Addresses**.
              - Enter the HAProxy internal IP address, `192.168.2.2`.
              - Press **Enter**.
              - Click **Apply**.
          - Click **Save**.
          - Click **Apply**.
          - Click **Publish**.

1. Add a firewall rule that allows egress for the 192.168.1.x and 192.168.2.x subnets:
    1. Navigate to the [VMC console](https://vmc.vmware.com/console/sddcs).
    1. Select **SDDCs**.
    1. Click **View Details** on your datacenter tile.
    1. Select **Networking & Security**, and then select **Security**.
    1. Select **Gateway Firewall**, and then select **Compute Gateway**.
    1. Click **Add Rule**.
    1. Select the newly-created rule:
        1. For **Rule Name**, enter `tas-egress`.
        1. Edit **Sources**.
            - Click **Add Group**.
              - For **Group name**, enter `tas`.
              - Click **Set Members**.
              - Select **IP Addresses**.
              - Enter the first subnet CIDR, `192.168.1.0/24`.
              - Press **Enter**.
              - Enter the second subnet CIDR, `192.168.2.0/24`.
              - Press **Enter**.
              - Click **Apply**.
            - Click **Save**.
        1. Click **Apply**.
        1. For **Destinations**, select **Any**.
    - Click **Publish**.

1. Add a firewall rule that allows ingress to vCenter from the <%= vars.app_runtime_abbr %> control plane:
	1. Navigate to the [VMC console](https://vmc.vmware.com/console/sddcs).
	1. Select **SDDCs**.
	1. Click **View Details** on your datacenter tile.
	1. Select **Networking & Security**, and then select **Security**.
	1. Click **Gateway Firewall**, and then select  **Management Gateway**.
	1. Click **Add Rule**.
	1. Select the newly-created rule:

	  1. For **Rule Name**, enter `vCenter Inbound Rule`.
	  1. Edit **Sources**:
	        - Click **User Defined Groups**.
	        - Click **Add Group**.
	          - For **Group name**, enter `<%= vars.ops_manager %> public IP`.
	          - Click **Set Members**.
	          - Select **IP Addresses**.
	          - Enter your <%= vars.ops_manager %> public IP address. For example, `54.190.190.190`.
	          - Press **Enter**.
	          - Click **Apply**.
	        - Click **Save**.
	        - Click **Add Group**.
	          - For **Group name**, enter `Workloads Compute NAT public IP`.
	          - Click **Set Members**.
	          - Select **IP Addresses**.
	          - Enter your Workloads Compute NAT public IP address. For example, `44.232.216.160`.
            <p class="note"><strong>Note</strong>: You can locate your Workloads Compute NAT public IP address in the Networking & Security Overview.</p>
	          - Press **Enter**.
	          - Click **Apply**.
	        - Click **Save**.
	   1. Edit **Destinations**: Select **vCenter** and then click **Apply**.
	   1. Edit **Services**: Enter `HTTPS, ICMP, SSO`.
	1. Click **Publish**.

1. Add a firewall rule that allows ingress to ESXi from the <%= vars.app_runtime_abbr %> control plane:
	1. Navigate to the [VMC console](https://vmc.vmware.com/console/sddcs).
	1. Select **SDDCs**.
	1. Click **View Details** on your datacenter tile.
	1. Select **Networking & Security**, and then select **Security**.
	1. Click **Gateway Firewall**, and then select  **Management Gateway**.
	1. Click **Add Rule**.
	1. Select the newly-created rule:

	  1. For **Rule Name**, enter `ESXi Inbound Rule`.
	  1. Edit **Sources**:
	        - Click **User Defined Groups**.
	        - Click **Add Group**.
	          - For **Group name**, enter `<%= vars.ops_manager %> private IP`.
	          - Click **Set Members**.
	          - Select **IP Addresses**.
	          - Enter the <%= vars.ops_manager %> private IP address, `192.168.1.10`.
	          - Press **Enter**.
	          - Click **Apply**.
	        - Click **Save**.
	        - Click **Add Group**.
	          - For **Group name**, enter `BOSH Director private IP`.
	          - Click **Set Members**.
	          - Select **IP Addresses**.
	          - Enter the BOSH Director private IP address, `192.168.1.11`.
	          - Press **Enter**.
	          - Click **Apply**.
	        - Click **Save**.
	   1. Edit **Destinations**: Select **vCenter** and then click **Apply**.
	   1. Edit **Services**: Enter `HTTPS, ICMP, SSO`.
	1. Click **Publish**.

## <a id='bosh-setup'></a> Configure BOSH Director

<p class="note"><strong>Note:</strong> The procedure in this section contains only the configuration information that is specific to VMC. For more information about configuring BOSH on vSphere, see <a href="https://docs.pivotal.io/ops-manager/2-10/vsphere/config.html">Configuring BOSH Director on vSphere</a>.</p>

To configure BOSH Director for VMC:

1. Log in to <%= vars.ops_manager %>:
    - Navigate to the IP address you configured for <%= vars.ops_manager %> above. For example, [https://54.190.190.190/](https://54.190.190.190/).
    - Enter a **Username**, **Password**, and **Password confirmation** to create an Admin user.
    - Enter a **Decryption passphrase** and the **Decryption passphrase confirmation**. This passphrase encrypts the Ops Manager datastore and is not recoverable.

1. Select the **BOSH Director for vSphere** tile and configure BOSH as follows:
    - **Settings → vCenter Config**
        - **vCenter Host**: your vCenter URL. For example, `vcenter.sddc-35-162-72-214.vmwarevmc.com`.
        - **vCenter Username**: `cloudadmin@vmc.local`
        - **vCenter Password**: Enter the password you gathered from the SDDC.
        - **Datacenter Name**: Enter `SDDC-Datacenter`.
        - **Virtual Disk Type**: Select **Thin**.
        - **Ephemeral Datastore Names**: Enter `WorkloadDatastore`.
        - **Persistent Datastore Names**: Enter `WorkloadDatastore`.
        - Select **Standard vCenter Networking**.
    - **Settings → Director Config**
        - **NTP Servers**: Enter an NTP server of your choice. For example, `time.google.com`.
    - **Settings → Create Availability Zones**
        - **az1**:
            - **Name**: `az1`
            - **Clusters**:
                - **Cluster**: `Cluster-1`
                - **Resource Pool**: `az1`
        - **az2**:
            - **Name**: `az2`
            - **Clusters**:
                - **Cluster**: `Cluster-1`
                - **Resource Pool**: `az2`
        - **az3**:
            - **Name**: `az3`
            - **Clusters**:
                - **Cluster**: `Cluster-1`
                - **Resource Pool**: `az3`
    - **Settings → Create Networks → Networks**
        - **infra**:
            - **Name**: `infra`
            - **Subnets**:
                - **vSphere Network Name**: `sddc-cgw-network-1`
                - **CIDR**: `192.168.1.0/24`
                - **Reserved IP Ranges**: `192.168.1.1-192.168.1.10`
                - **DNS**: `8.8.8.8`
                - **Gateway**: `192.168.1.1`
                - **Availability Zones**: `az1, az2, az3`
        - **deployment**:
            - **Name**: `deployment`
            - **Subnets**:
                - **vSphere Network Name**: `bosh-network`
                - **CIDR**: `192.168.2.0/24`
                - **Reserved IP Ranges**: `192.168.2.1`
                - **DNS**: `8.8.8.8`
                - **Gateway**: `192.168.2.1`
                - **Availability Zones**: `az1, az2, az3`
    - **Settings → Assign AZs and Networks**
        - **Singleton Availability Zone**: `az1`
        - **Network**: `infra`
    - **Settings → Security**
        - **Include Tanzu Ops Manager Root CA in Trusted Certs**: Select the checkbox.

1. After you finish configuration, click **Apply Changes**. The following warning appears:
    !['Review Pending Changes' in Ops Manager. A warning at the top of the image reads, 'Please review the warnings below. IaaS default: Could not log in. Required Datacenter privileges not available.'](images/opsman-warning.png)

    Click **Ignore Warnings & Apply Changes**.
    `EditCluster` permission is not required.

## <a id='tas-tile'></a> Install <%= vars.app_runtime_abbr %>

To configure <%= vars.app_runtime_abbr %> for VMC:

1. Configure the **<%= vars.app_runtime_abbr %>** tile as follows:
    - **Settings → Assign AZs and Networks**
        - **Network**: Select `deployment`.
        - Click **Save**.
    - **Settings → Domains**
        - Set up a wildcard domain and ensure that it maps to the HAProxy public IP address you configured earlier. For example:
            - **System domain**: `sys.54.180.180.180.nip.io`
            - **Apps domain**: `run.54.180.180.180.nip.io`
    - **Settings → Networking**
        - Set the HAProxy IP address to the one you specified in the NAT rule above. This is the first available IP address in the `deployment` network.
            - **HAProxy IPs**: `192.168.2.2`
        - Generate a certificate for the Gorouter and HAProxy:
            - **Certificates and private keys for the Gorouter and HAProxy**: Click **Add**.
                - Name: `haproxy cert`
                - Click **Generate RSA Certificate**.
                - Add `*.` domains for your system and apps domain above, separated by a comma. For example, `*.**sys.54.180.180.180.nip.io,*.run.54.180.180.180.nip.io`.
        - Set HAProxy as the TLS termination point:
            - **TLS Termination**: **HA Proxy**
        - Disable TLS forwarding for HAProxy:
            - **HAProxy forwards all requests to the Gorouter over TLS**: Click **Disable**.
    - **Settings → UAA**
        - For UAA configuration, generate a SAML certificate for *.login.SYSTEM-DOMAIN:
            - **→ SAML service provider credentials**
                - Click **Generate RSA Certificate**.
                - Enter your domain. For example, `*.login.sys.54.180.180.180.nip.io`
                - Click **Generate**.
    - **Settings → Resource Config**:
      - Scale the HAProxy instances up to 1.
        - **→ HAProxy**
            *   Set Instances to **1**.
            *   Click **Save**.

1. After you finish configuration, click **Apply Changes**. The following warning appears:
    !['Review Pending Changes' in Ops Manager. A warning at the top of the image reads, 'Please review the warnings below. IaaS default: Could not log in. Required Datacenter privileges not available.'](images/opsman-warning.png)

    Click **Ignore Warnings & Apply Changes**.
    `EditCluster` permission is not required.
