---
title: Deploying TAS for VMs with NSX-T Networking
owner: Ops Manager
---

This topic describes how to install <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) on vSphere with NSX-T internal networking, using the VMware NSX-T Container Plug-in for <%= vars.platform_name %>.


## <a id='introduction'></a> Overview

<%= vars.app_runtime_abbr %> uses a Container Network Interface (CNI) plugin to support secure and direct internal communication between containers. This plugin can be:

* The internal Silk plugin that comes packaged with <%= vars.app_runtime_abbr %>, or
* On vSphere, NSX-T Container Plug-in (NCP), which installs as the [VMware NSX-T Container Plug-in for <%= vars.platform_name %>](https://network.pivotal.io/products/vmware-nsx-t) tile in <%= vars.ops_manager %>.


## <a id='requirements'></a> Prerequisites

Before deploying <%= vars.app_runtime_abbr %> with NSX-T networking, you must have the following:

* An NSX-T environment with NSX-T components installed and configured. The NSX-T version must support the versions of NCP and <%= vars.app_runtime_abbr %> you intend to use. Verify the compatibility between NSX-T, NCP and <%= vars.app_runtime_abbr %> with the following documentation:
   * [Product Interoperability Matrix: <%= vars.app_runtime_abbr %>, VMware NSX-T, and VMware NSX-T Container Plug-in for <%= vars.platform_name %>](https://interopmatrix.vmware.com) for supported version combinations.
   * [VMware NSX-T Data Center Documentation](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/). In particular, review the _NSX Container Plug-in (NCP) Release Notes_ and _NSX-T Data Center Installation Guide_ for the versions of NCP and NSX-T that you want to install.

* BOSH and <%= vars.ops_manager %> installed and configured on vSphere. For more information, see [Deploying <%= vars.ops_manager %> on vSphere](https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/om/vsphere/deploy.html) and [Configuring BOSH Director on vSphere](https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/om/vsphere/config.html).

* The [VMware NSX-T Container Plug-in for <%= vars.platform_name %> tile](https://network.pivotal.io/products/vmware-nsx-t) downloaded from VMware Tanzu Network and imported to the <%= vars.ops_manager %> **Installation Dashboard**. For information about downloading and importing VMware Tanzu products to the Installation Dashboard, see [Adding and Importing Products](https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/customizing/add-delete.html#add-import).

* The [<%= vars.app_runtime_abbr %> tile](https://network.pivotal.io/products/elastic-runtime) downloaded from VMware Tanzu Network and imported to the <%= vars.ops_manager %> Installation Dashboard. The <%= vars.app_runtime_abbr %> tile must be in one of the following two states:
  * Configured but not deployed yet; you have not yet clicked **Review Pending Changes**, then **Apply Changes** on this version of <%= vars.app_runtime_abbr %>.
  * Deployed previously, with the **Container network interface plugin** field set to **External** in the **Networking** pane of the <%= vars.app_runtime_abbr %> tile.
  <p class="note"><strong>Note:</strong> Deploying <%= vars.app_runtime_abbr %> with its container network interface (CNI) set to **Silk** configures Diego Cells to use an internally-managed container network. Subsequently switching the CNI interface to **External** NSX-T leads to errors.</p>


## <a id='architecture'></a> Architecture

The following diagram shows how to deploy an NSX-T machine to run <%= vars.app_runtime_abbr %> across multiple vSphere hardware clusters. NSX-T runs a Tier-0 (T0) router and multiple Tier-1 (T1) routers, each connecting to a network within <%= vars.platform_name %>. Each vSphere hardware column cluster corresponds to an Availability Zone in <%= vars.platform_name %>:

![NSX-T &amp; <%= vars.app_runtime_abbr %> Overview](nsx-t/nsx-t-refarch.png)

When a developer pushes an app to a new org for the first time, the NSX-T plugin triggers NSX-T to create a new T1 router and allocate an address range for the org, on demand.


## <a id='install'></a> Install and Configure <%= vars.app_runtime_abbr %> and NSX-T

Installing NSX-T to run with <%= vars.app_runtime_abbr %> requires:

1. [Configure NSX-T to Integrate with <%= vars.app_runtime_abbr %>](#nsx-t-setup)

1. [Enable NSX-T Mode in the BOSH Director](#nsx-t-mode)

1. [Configure <%= vars.app_runtime_abbr %> for External Container Networking](#external-net)

1. [Install and Configure the NSX-T Tile](#nsx-t-tile)

### <a id='nsx-t-setup'></a> Set Up NSX-T to Integrate with <%= vars.app_runtime_abbr %>

To set up NSX-T to integrate with <%= vars.app_runtime_abbr %>, complete these procedures:

- [Configure Logical Switches](#nsx-t-logical-switches)

- [Configure Routers](#nsx-t-routers)

- [Configure Load Balancer](#nsx-t-load-balancer)

#### <a id='nsx-t-logical-switches'></a> Configure Logical Switches

To configure logical switches:

1.  In vSphere, create logical network switches to correspond to the networks that <%= vars.platform_name %> uses.
  1. Log in to the **NSX-T Manager Dashboard**.
  1. Go to **Advanced Networking & Security**.
  1. Go to the **Switching** pane.
  1. For each of these networks...
      - **Infrastructure** (BOSH and <%= vars.ops_manager %>, defined in the **Assign AZs and Networks** pane of the BOSH Director tile)
      - **Deployment** (<%= vars.app_runtime_abbr %>, defined in the **Assign AZs and Networks** pane of the <%= vars.app_runtime_abbr %> tile)
      - **Services** and **Dynamic Services** (marketplace services and on-demand services, also defined in the <%= vars.app_runtime_abbr %> tile)
      - **Isolation Segment** (optional, defined in the **Assign AZs and Networks** pane of the Isolation Segment tile)
    ...do the following:
          1. Click **+ADD**.
          1. Enter a name for the logical switch (such as `<%= vars.app_runtime_abbr %>-Infrastructure`, `<%= vars.app_runtime_abbr %>-Deployment`).
          1. Click **ADD**.
![NSX-T ](nsx-t/nsx-t-logical-switch.png)

#### <a id='nsx-t-routers'></a> Configure Routers

To configure routers:

1. Create T0 network address translation (NAT) rules to communicate with <%= vars.ops_manager %>:
  1. Go to **Advanced Networking & Security**.
  1. Go to the **Routers** pane.
  1. Select your T0 router.
  1. From the **Services** dropdown, choose **NAT**.
  1. Add a rule for destination NAT (DNAT) with:
      - The externally-specified destination IP address of incoming requests. If your <%= vars.ops_manager %> has a DNS entry (for example, `opsmgr.example.com`), this is its IP address.
      - The <%= vars.ops_manager %> internal network address.
![NSX-T ](nsx-t/nsx-t-dnat-rule.png)
  1. Add the corresponding source NAT (SNAT) rule with:
      - The externally-specified destination IP address.
      - The <%= vars.ops_manager %> internal network address.
![NSX-T ](nsx-t/nsx-t-snat-rule.png)
  1. Add a rule for source NAT (SNAT) for the infrastructure and deployment networks:
      - The externally-specified destination IP address.
      - The internal network address in CIDR notation.
![NSX-T ](nsx-t/nsx-t-snat-net-rule.png)

1. Create T1 routers for <%= vars.app_runtime_abbr %>, to connect from the T0 router. For each <%= vars.platform_name %> network, Infrastructure, Deployment, and so on, create a T1 router as follows:
1. In the NSX-T Manager UI, navigate to **Advanced Networking & Security** > **Routing** > **Routers**.
  1. Click **+ADD** > **Tier-1 Router**.
  1. Configure the router. Include the Edge Cluster and Edge Cluster Members; they are required to enable the Load Balancer. The Infrastructure network router configuration might look like the following diagram:
![NSX-T ](nsx-t/nsx-t-t1-router.png)

1. Create T1 router downlink ports for <%= vars.app_runtime_abbr %>. For each T1 router you created, add a **New Router Port** as follows, to allow traffic in and out:
  1. In the NSX-T Manager UI, select the T1 router.
  1. In **Configuration** > **Router Ports**, click **+ADD** to add a new router port.
  1. For **Logical Switch**, enter the name of the logical switch you defined for the network in **Add New Logical Switch**, above.
  1. For **IP Address**, use the first IP of the appropriate subnet. In this example, 192.168.1.0/24 is set aside for Infrastructure (<%= vars.ops_manager %> and BOSH Director), and 192.168.2.0/24 for the Deployment, so 192.168.1.1 and 192.168.2.1 are used respectively.
![NSX-T ](nsx-t/nsx-t-router-port.png)

1. Advertise the routes of the T1 routers to the T0 router, so the T0 router can correctly route incoming requests based on their destination IP address:
  1. Select your T1 Router and navigate to **Routing** > **Route Advertisement**.
  1. Under **Edit Route Advertisement Configuration**, enable route advertisement by setting **Status** to **Enabled**.
  1. Set **Advertise All Connected Routes** to **Yes**.
  1. Set **Advertise All LB VIP Routes** to **Yes** (necessary if Load Balancing service is configured).
![NSX-T ](nsx-t/nsx-t-route-advertise.png)

1. Allocate an IP block for <%= vars.app_runtime_abbr %> orgs.
  1. From the NSX-T Manager, navigate to **Advanced Networking & Security** > **Networking** > **IPAM** and click **+ADD**.
  1. Enter a name (for example, `<%= vars.app_runtime_abbr %>-container-ip-block`). This IP block name is also used in the **VMware NSX-T** tile in the **NCP** section under **IP Blocks of Container Networks**.
  1. Enter a description, such as `Subnets are allocated from this pool to each newly-created org`.
  1. Enter a CIDR to allocate an address block large enough to accommodate all <%= vars.app_runtime_abbr %> apps. A `/14` CIDR is large enough for ~1,000 Orgs with ~250 apps each. If you are planning such a large foundation, see [VMware NSX-T <%= vars.app_runtime_abbr %> limits](https://configmax.vmware.com/guest?vmwareproduct=VMware%20NSX-T&release=NSX-T%20Data%20Center%202.4.0&categories=31-0) in the VMware documentation.
![NSX-T ](nsx-t/nsx-t-ip-block.png)

1. Create an external SNAT IP pool.
  1. Navigate to **Advanced Networking & Security** > **Inventory** > **Groups** > **IP Pools** and click **+ADD**.
  1. Enter a name (such as `external-ip-pool`) and a description (such as `IP pool that provides 1 public IP for each <%= vars.app_runtime_abbr %> Org`). Later, you will enter this pool name on the **VMware NSX-T** tile in the **NCP** section under **IP Pools used to provide External (NAT) IP Addresses to Org Networks**.
![NSX-T ](nsx-t/nsx-t-external-ip-pool.png)

#### <a id='nsx-t-load-balancer'></a> Configure Load Balancer

To configure a load balancer:

1. Create Active Health Monitors (health checks) for use by the virtual server later on:
  1. In the NSX-T Manager UI, navigate to **Advanced Networking & Security** > **Networking** > **Load Balancing** > **Monitors** > **Active Health Monitors**.
  1. Create the health monitor for web load balancing:
    1. Click **+ADD**.
    1. Enter **Monitor Properties**:
        - **Name**: `pas-web-monitor`
        - **Health Check Protocol**: `LbHttpMonitor`
        - **Monitoring Port**: 8080
    1. Click **Next**.
    1. Enter **Health Check Parameters**:
        - **HTTP Method**: `GET`
        - **HTTP Request URL**: `/health`
        - **HTTP Response Code**: 200
    1. Click **Finish**.
  1. Create the health monitor for TCP load balancing:
    1. Click **+ADD**.
    1. Enter **Monitor Properties**:
        - **Name**: `pas-tcp-monitor`
        - **Health Check Protocol**: `LbHttpMonitor`
        - **Monitoring Port**: 80
    1. Click **Next**.
    1. Enter **Health Check Parameters**:
        - **HTTP Method**: `GET`
        - **HTTP Request URL**: `/health`
        - **HTTP Response Code**: 200
  1. Create the health monitor for SSH load balancing:
    1. Click **+ADD**.
    1. Enter **Monitor Properties**:
        - **Name**: `pas-ssh-monitor`
        - **Health Check Protocol**: `LbTcpMonitor`
        - **Monitoring Port**: 2222
    1. Click **Next**, then click **Finish**.

1. Create server pools (collections of VMs which handle traffic) for use by the virtual server:
  1. In the NSX-T Manager UI, navigate to **Advanced Networking & Security** > **Networking** > **Load Balancing** > **Server Pools**.
  1. Create the server pool for web load balancing:
    1. Click **+ADD** to add a new pool.
    1. Enter **General Properties**:
        - **Name**: `pas-web-pool`
    1. Click **Next**.
    1. Enter **SNAT Translation**:
        - **Translation Mode**: `IP List`
        - Enter a range of available IPs for SNAT translation. By default, ports from `4000` to `64000` are for all configured SNAT IP addresses. Allocate enough IPs to handle your traffic load. Without enough IPs, the SNAT port is exhausted.
    1. Click **Next**.
    1. Enter **Pool Members**:
        - **Membership Type**: `Static`
    1. Click **Next**.
    1. Enter **Health Monitors**:
        - **Active Health Monitor**: `pas-web-monitor`
    1. Click **Finish**.
  1. Create the server pool for TCP load balancing:
    1. Click **+ADD** to add new pool.
    1. Enter **General Properties**:
        - **Name**: `pas-tcp-pool`
    1. Click **Next**.
    1. Enter **SNAT Translation**:
        - **Translation Mode**: `Transparent`
    1. Click **Next**.
    1. Enter **Pool Members**:
        - **Membership Type**: `Static`
    1. Click **Next**.
    1. Enter **Health Monitors**:
        - **Active Health Monitor**: `pas-tcp-monitor`
    1. Click **Finish**.
  1. Create the server pool for SSH load balancing:
    1. Click **+ADD** to add new pool.
    1. Enter **General Properties**:
        - **Name**: `pas-ssh-pool`
    1. Click **Next**.
    1. Enter **SNAT Translation**:
        - **Translation Mode**: `Transparent`
    1. Click **Next**.
    1. Enter **Pool Members**:
        - **Membership Type**: `Static`
    1. Click **Next**.
    1. Enter **Health Monitors**:
        - **Active Health Monitor**: `pas-ssh-monitor`
    1. Click **Finish**.

1. Create virtual servers:
  1. In the NSX-T Manager UI, navigate to **Advanced Networking & Security** > **Networking** > **Load Balancing** > **Virtual Servers**.
  1. Create the virtual server which forwards unencrypted web (HTTP) traffic to the foundation:
<p class="note"><strong>Note:</strong> Foundations requiring end-to-end encryption should not enable the virtual server on port 80, or, if enabled, should configure it to redirect traffic to the encrypted port (443).</p>
    1. Click **+ADD**.
    1. Enter **General Properties**:
        - **Name**: `pas-web-vs`
        - **Application Type**: `Layer 4 (TCP)`
        - **Application Profile**: `nsx-default-lb-fast-tcp-profile`
    1. Click **Next**.
    1. Enter **Virtual Server Identifiers**:
        - **IP Address**: use the address of the DNS record of `*.system.YOUR-SYSTEM-DOMAIN.com`
        - **Port**: `80,443`
    1. Enter **Server Pool and Rules**:
        - **Default Server Pool**: `pas-web-pool`
    1. Click **Next** several times, then click **Finish**.
  1. Create the virtual server which forwards traffic to apps with custom ports to the foundation:
    1. Click **+ADD** to add a new virtual server.
    1. Enter **General Properties**:
        - **Name**: `pas-tcp-vs`
        - **Application Type**: `Layer 4 (TCP)`
        - **Application Profile**: `nsx-default-lb-fast-tcp-profile`
    1. Click **Next**.
    1. Enter **Virtual Server Identifiers**:
        - **IP Address**: use the address of the DNS record of `tcp.apps.YOUR-SYSTEM-DOMAIN.com`
        - **Port**: use the same ports as configured in the **<%= vars.app_runtime_abbr %> Tile** > **Networking** > **TCP Routing Ports**,
          e.g. `1024-1123,5900`
    1. Click **Next**.
    1. Enter **Server Pool and Rules**:
        - **Default Server Pool**: `pas-tcp-pool`
    1. Click **Next**, then click **Finish**.
  1. Create the virtual server which forwards SSH traffic to the foundation:
    1. Click **+ADD** to add a new virtual server.
    1. Enter **General Properties**:
        - **Name**: `pas-ssh-vs`
        - **Application Type**: `Layer 4 (TCP)`
        - **Application Profile**: `nsx-default-lb-fast-tcp-profile`
    1. Click **Next**.
    1. Enter **Virtual Server Identifiers**:
        - **IP Address**: use the address of the DNS record of `ssh.system.YOUR-SYSTEM-DOMAIN.com`
        - **Port**: `2222`
    1. Click **Next**.
    1. Enter **Server Pool and Rules**:
        - **Default Server Pool**: `pas-ssh-pool`
    1. Click **Next**, then click **Finish**.

1. Create the load balancer:
  1. In the NSX-T Manager UI, navigate to **Advanced Networking & Security** > **Networking** > **Load Balancing** > **Load Balancers**.
    1. Click **+ADD**.
    1. Enter the fields:
        - **Name**: `pas-lb`
        - **Load Balancer Size**: Choose `Small` unless you have a larger Foundation
    1. Click **OK**.
  1. Select `pas-lb`.
  1. Click **Actions** > **Attach to a Virtual Server**, and then select `pas-web-vs`. Repeat this procedure for the Virtual Servers `pas-tcp-vs` and `pas-ssh-vs`.
  1. Click **Action** > **Attach to a Logical Router**, and then select `T1-Router-<%= vars.app_runtime_abbr %>-Deployment`.

### <a id='nsx-t-mode'></a> Enable NSX-T Mode in the BOSH Director

To enable NSX-T mode in the BOSH Director:

1. From the <%= vars.ops_manager %> **Installation Dashboard**, open the **BOSH Director** tile.

1. In the **vCenter Configs** pane, click the pencil icon for the vCenter Config you want to edit.

1. Select **NSX Networking** below.

1. Configure BOSH Director authentication to the NSX Manager by following the **NSX Networking** instructions
in the [Step 2: Configure vCenter](https://docs.pivotal.io/platform/ops-manager/2-8/vsphere/config.html#vcenter-config) section of _Configuring BOSH Director on vSphere_.

### <a id='external-net'></a> Configure <%= vars.app_runtime_abbr %> for External Container Networking

To configure <%= vars.app_runtime_abbr %> for external container networking:

1. If you have not already done so, download the <%= vars.app_runtime_abbr %> tile from [VMware Tanzu Network](https://network.pivotal.io/products/elastic-runtime) and import it to the **Installation Dashboard**. For instructions, see [Adding and Importing Products](https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/customizing/add-delete.html#add-import).
![<%= vars.ops_manager %> Installation Dashboard with NSX-T tile](nsx-t/nsx-t-install-dash.png)

1. Configure <%= vars.app_runtime_abbr %>, following the directions in [Configuring <%= vars.app_runtime_abbr %>](./configure-pas.html). When you configure **Networking**, select **External** under **Container networking interface plugin**.<br>
![NSX-T ](nsx-t/nsx-t-pas-cni.png)

1. Update the server pool membership for the NSX-T load balancers:

    1. Open the **BOSH Director for vSphere** tile > **Resource Config** pane.
    1. Click the arrow next to each job to reveal the **NSX-T CONFIGURATION** column. See [Step 10: Resource Config Pane](https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/om/vsphere/config.html#resource-config) in _Configuring BOSH Director on vSphere_.
    1. Under **Logical Load Balancer**, enter a JSON-formatted structure to defining a list of `server_pools`  a VM extension for each of the three server pools: `pas-web-pool`, `pas-tcp-pool`, and `pas-ssh-pool`.

### <a id='nsx-t-tile'></a> Install and Configure the NSX-T Container Plug-In

To install and configure the tile:

1. If you have not already done so, download the VMware NSX-T Container Plug-in for <%= vars.platform_name %> tile from [VMware Tanzu Network](https://network.pivotal.io/products/vmware-nsx-t) and import it to the **Installation Dashboard**. For instructions, see [Adding and Importing Products](https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/customizing/add-delete.html#add-import).
![<%= vars.ops_manager %> Installation Dashboard with NSX-T tile](nsx-t/nsx-t-install-dash.png)

1. Click the **VMware NSX-T** tile to open its **Settings** tab, and configure the **NSX Manager** pane as follows:
  - **NSX Manager Address**: The NSX-T Manager host address or IP address.
  - **Use Client Certificates or Username/Password**: Configure this setting as follows:
      1. If you are using VMware Workspace ONE Access, formerly called VMware Identity Manager 
      (vIDM), then select **Client Certificate Authentication**.
      1. Otherwise, select **Basic Authentication with Username and Password** and enter **NSX Manager Admin Username** and **Admin Password** credentials in the fields underneath.
  - **NSX Manager CA Cert**: Obtain this certificate from NSX-T Manager as follows:
      1. `ssh` into NSX-T Manager using the admin account that you created when you deployed NSX-T Manager.
      1. From the NSX-T Manager command line, run `get certificate api` to retrieve the certificate.
![NSX-T tile config: NSX-T Manager](nsx-t/nsx-t-tile-config-mgr.png)

1. Open and configure the **NCP** (NSX-T Container Plugin) pane as follows:
  - **<%= vars.app_runtime_abbr %> Foundation Name**: If unsure, use `<%= vars.app_runtime_abbr %>`. If multiple foundations co-exist on the same NSX-T Manager, choose a unique string, such as `<%= vars.app_runtime_abbr %>-beta`. NCP creates artifacts, such as T1 routers and prefixes their names with this string for easy identification.
  - **Overlay Transport Zone**: A uniquely identifying string for the **Transport Zone** that you chose when you [created logical switches](#nsx-t-setup) for each network. This can be the name of the transport zone if no other zones in NSX-T share the same name, or else the UUID for the transport zone.
  - **Tier-0 Router**: A uniquely identifying string for the T0 router. This can be the tag string that you gave the router in NSX-T Manager if no other T0 routers in NSX-T share the same name, or else the UUID for the router.
  - **Subnet Prefix of Container Networks**: Subnet mask to set the address range size for apps in a single org. Defaults to `24`. This number must be higher than the mask for all <%= vars.app_runtime_abbr %> orgs in the NSX-T Manager **New IP Block** pane, to define each org's fraction of the total <%= vars.app_runtime_abbr %> address space.
  - **Enable SNAT for Container Network**: Enable this checkbox.
![NSX-T tile config: NCP](nsx-t/nsx-t-tile-config-ncp.png)

1. In the **NSX Node Agent** pane, enable the **Enable Debug Level of Logging for NSX Node Agent** checkbox.
![NSX-T tile config: NSX-T Node Agent](nsx-t/nsx-t-tile-config-agent.png)

1. Click **Save** and return to the **Installation Dashboard**.

1. After you have configured both the **<%= vars.app_runtime_abbr %>** tile and the **VMware NSX-T** tile, click **Review Pending Changes**, then **Apply Changes** to deploy <%= vars.app_runtime_abbr %> with NSX-T networking.


## <a id='upgrade'></a> Upgrade <%= vars.app_runtime_abbr %> with NSX-T Networking

After you have deployed <%= vars.app_runtime_abbr %> with NSX-T, you may need to upgrade either <%= vars.ops_manager %>, <%= vars.app_runtime_abbr %>, the NSX-T Container Plug-in or NSX-T Data Center. If you upgrade one of these components, you may need to upgrade the other components as well.

For example, if you want to upgrade NSX-T Data Center, you may need to upgrade the NSX-T Container Plug-in first.

To upgrade <%= vars.app_runtime_abbr %> with NSX-T Networking:

1. Plan the upgrade by determining the compatibility of NCP, NSX-T and <%= vars.app_runtime_abbr %> by checking the following documentation:
   * See [Product Interoperability Matrix: <%= vars.app_runtime_abbr %>, VMware NSX-T, and VMware NSX-T Container Plug-in for <%= vars.platform_name %>](https://interopmatrix.vmware.com) for supported version combinations.
   * See [VMware NSX-T Data Center Documentation](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/). In particular, review the _NSX Container Plug-in (NCP) Release Notes_ and _NSX-T Data Center Installation Guide_ for the versions of NCP and NSX-T that you want to install.

1. Download the desired version of VMware NSX-T Container Plug-in for <%= vars.platform_name %> tile from [VMware Tanzu Network](https://network.pivotal.io/products/vmware-nsx-t).

1. In <%= vars.ops_manager %>, import the new version of the tile to the **Installation Dashboard**. For instructions, see [Adding and Importing Products](https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/customizing/add-delete.html#add-import).

1. Click **Review Pending Changes** and review your changes.

1. Click **Apply Changes**.

1. Continue with the upgrade of <%= vars.ops_manager %>, <%= vars.app_runtime_abbr %>, or NSX-T Data Center. For more information, see [Upgrade NCP in a <%= vars.platform_name %> Environment](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/com.vmware.nsxt.ncp_kubernetes.doc/GUID-4E269C79-1EF7-48E7-AFA4-D79B9F9C9202.html?hWord=N4IghgNiBcIK4AcDmAnMATApgAgHYGMEQBfIA) in the VMware NSX-T Data Center documentation.
